/* header style start*/

.header_container{
    width: 100%;
 padding: 10px;

}
.header_content{
    display: flex;
    justify-content: space-between;
 
}


.paperbag ul li{
    list-style: none;
    text-align: left !important;
 
}
.paperbag  ul li h6{
    font-family: cursive;
    font-size: small;
    margin-left: 20px;
    font-size: small;
}
/* header style end */





/* navbar style start */
 .navbar {
    padding: 0px;
}

.nav-link {
    color: #fff;
    font-size: 1.2rem;
    /* font-size: 16px; */
    padding: 15px 15px;
    margin-right: 20px;
    font-weight: 600;
}
.nav-link:hover{
    color: hsl(0, 0%, 100%) !important;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: left;
}

.active{
    background-color: #ec1c24 !important;
    color: #fff !important;
}


.navbar-nav>li>a {
    text-decoration: none;}

.borderWhite{

    border: 1px solid #fff;
}
.navbar-brand {
padding: 15px;
font-size: 18px;
line-height: 20px;
color: #fff;
}

.navbar-brand:active{
color: #fff !important;
}



@media screen and (max-width:1000px){
.nav-link{
    margin-right: 0px;   
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu li a {
    padding: 7px 9px;
    color: #777;

}


.navbar-toggler{
    background-color:#fff !important;
    margin-right: 20px;
    outline: 0;
   border: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
   
}

}


/* <!--  navbar style end  --> */



/* <!-- banner style start  --> */
.banner_container{
    width: 100% ;
  height: 100%;
   
}
.carousel-inner>.item>img {
/* min-height: 500px;
object-fit: cover;
line-height: 1;
display: block;
max-width: 100%;
height: auto; */
}

.carousel-inner a{
    background: #ec1c24;
    padding: 0 15px;
    min-width: 180px;
    line-height: 50px;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-style: normal;
    font-size: 22px;
font-weight: bold;
color: #fff !important;
}

.carousel-caption-first{
    position: absolute;
    right: 15%;
    bottom: 10.25rem !important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-caption-two {
    position: absolute;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.banner_two {
    /* margin-left:60px; */
    font-weight: bold;

    background: #ec1c24;
    padding: 42px;
    text-align: left;
    position: relative;
    display: inline-block;
    max-width: 520px;
    /* min-height: 450px; */
}
.banner_two h2 {
    text-transform: uppercase;
    font-style: normal;
    font-size: 35px;
    font-weight: 900;
    line-height: 38px;

    margin-bottom: 15px;
    color: #fff}  

.banner_two ul {
    margin: 0;
    padding: 0;
    list-style: outside none;
    display: inline-block;
    width: 100%;
}
.banner_two li i {
    margin-top: 4px;
    margin-right: 10px;
    font-size: 18px;
}
.fa{
    font:normal normal normal 14px/1 FontAwesome;
}
.fa {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
}
.banner_two li {
    margin: 0;
    padding: 7px 0;
    text-transform: uppercase;
    font-style: normal;
    font-size: 20px;
    color: #fff;    display: flex;
    width: 100%;
    letter-spacing: .5px;
}

.banner_two a {
    background: #2a2867;
    padding: 0 15px;
    min-width: 180px;
    line-height: 50px;
    margin-top: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-style: normal;
    font-size: 22px;
    color: #fff;}

.banner_two .bestpn {
    position: absolute;
    right: 42px;
    bottom: 42px;
}

.banner_three {
    text-align: center;
    width: 100%;
}

.banner_three h2 {
    text-transform: uppercase;
    font-style: normal;
    margin: 0 0 15px 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 38px;
    color: #fff;
}

.banner_three ul {
    margin: 2px 0 20px 0;
    padding: 0;
    list-style: outside none;
    display: inline-block;
    width: 100%;
}

.banner_three li {
    margin: 0 10px;
    padding: 0;
    text-transform: uppercase;
    display: inline-block;
    font-style: normal;
    font-size: 20px;
    color: #fff;
}
.banner_three li i {
    margin-top: 4px;
    margin-right: 10px;
    font-size: 20px;
    
}

.banner_three .bestpn{
    position: absolute;
    top: -200px;
    right: -140px;
    }
    


@media screen and (min-width:998px) {
       
    .carousel-indicators {
        display: none !important;
       
    } 
}
 
@media screen and (max-width:767px) {
    .carousel-caption-two {
      
        left:5% !important; 
        right: 5% !important;
    } 

        .banner_two h2 {
            font-size: 20px;
 
        }
 .banner_two ul li i {
            font-size: 12px;
            margin-top: 12px;
        }
       

        .banner_two a {
            font-size: 14px;
 
        }  
        .banner_two {
            /* margin-left:60px; */
            font-weight: bold;
        
            background: #ec1c24;
            padding: 10px;}
       
        .banner_three .bestpn{
            position: absolute;
            top: -148px !important;
            right: -25px !important;
            }
       
            

    
 
    
}


/* <!-- banner style end --> */
/*paperbag  product category style start*/

.paperbag_products_category{
    width: 100%;
 padding: 10px  0px 10px 60px;
 background-color: #ec1c24 !important;
color: #fff;

}
.paperbag_products_category_content{
    width: 100%;
    display: flex;


    /* justify-content: space-around; */
 
}

/* .paperbag_products{
    text-align: center;
} */
.paperbag_products ul {

    margin-left: 20px;
 
}

.paperbag_products ul li{
    list-style: none;
    margin-right: 30px;
 
}

.paperbag_products ul li  a{
  
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
 
}
.paperbag_products .dropdown-menu{
margin-top: 20px;
}

.paperbag_products  .dropdown-menu .dropdown-item {
    color: #777  !important;
}
.paperbag_products  .dropdown-menu .dropdown-item:active {
    background-color:#333333;
    color: #fff !important;
}

.paperbag_products  .dropdown-menu li{
    margin-right: 0px !important;  
}
/* paperbag  product category style end */

/* paperbag product details section start */
.paperbag_details_content{
    width: 100%;
}

.paperbag_details_content  .card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

margin-right:25px;
}
.paperbag_details_content  .card img{
    /* border: 1px solid gray; */
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.paperbag_details_content  .card  .read_more{
    padding: 10px;
    margin: 7px;
    background-color: #333333;
    color: #fff;
    border: none;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
  
  }
  .paperbag_details_content  .card  .get_quote{
    padding: 10px;
    margin: 7px;
    background-color: #333333;
    color: #fff;
    border: none;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
  float: right;
  }
  
/* paperbag product details section start */

/* about section start */
.about_container{
    width: 100%;
    padding: 20px  60px;
}
.about_container h2{
    font-size: 2.5rem;
}

.about_container p{
    font-size: 1.2;
  
}
.border_red{
    border-bottom:5px ;
    border: 1px solid #ec1c24;
    width:100px;
}



/* about section end */
/* paperbag prodcts style start */

.paperbag_products_container{
  width: 100%;
  background-color:#f5f5dc !important;
/* background-color: #f0f0f0 ; */
  /* background-color:rgb(245, 245, 220); */
  /* padding: 40px; */
  padding: 30px 60px  20px 60px;
}  
.paperbag_products_container .title{
  text-align: center;
  font-size: 2rem;
  /* font-size: larger; */
  font-weight: 600;
  margin-bottom: 15px;


}
.paperbag_products_container>p{
    font-size: smaller;
    font-weight: 600;
}
.paperbag_items{
  margin-bottom: 25px;
  text-align: center;
}
.paperbag_items  .read_more{
  padding: 10px;
  margin: 10px;
  background-color: #333333;
  color: #fff;
  border: none;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;

}

.paperbag_items  div>p{
    font-size: small;
  /* border:1px solid black; */
}
.paperbag_products_content   .paperbag_items  div>img:hover{
  /* height: 250px;
  transition: transform 0.3s ease;  */
  /* transform: translateY(-20px); */

  /* background-color:rgb(150, 150, 24); */

}




/* paperbag prodcts style end*/

/* contact style start  */

/* contact style end */

/* contact form style start */

.contact_form_container{
    width: 100%;
  }
  .contact_innerpage_content_left{
    margin-right:25px;
  }
  .contact_innerpage_content{
    padding: 30px 0px;
    width: 100%;
  }
  .contact_innerpage_content h2{
    font-size: 2rem;
   
    text-transform: uppercase;
  }
  .contact_form  .form-group{
    margin-bottom: 15px;
    }
    .contact_form  .form-control{
     
    border-radius:  0px !important;
    }
  
    .contact_form label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 600;
      color: #777;
  }
  
    .contact_form .form_submit{
      
        outline: 0 !important;
        
        padding: 10px;
        font-weight: 700;
        color: #fff !important;
        background-color: #333333;
        border-color: gray;
        border: none !important;
        /* border-color: #2e6da4;
       
        border: 1px solid transparent; */
        border-radius: 4px;
    }
    .contact_innerpage_content_right p{
      margin-bottom: 5px;
      font-size: 14px;
      text-align: justify;
    }
    /* .just_airport {
      font-size: x-small !important;
    } */
    .contact_innerpage_content_right i{
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
  
  }
  .contact_innerpage_content_right a{
    outline: 0;
    text-decoration: none;
  }
  .contact_innerpage_content_right a:hover{
  color: #000 !important;
  }
    @media screen and (max-width: 767px) {
      .contact_form_container{
        margin: 0px 10px;
    }
    }
  
   
    
  /* contact form style end */
  
  /* whatsapp style start */
  .whatsapptel {
    position: fixed;
    /* left: 5px; */
    bottom: 20%;
    z-index: 15;
    /* width: 100px; */
    display: flex;
    justify-content: flex-start;

}


  /* whatsapp style end */

/* footer style start */
    .main_container {
width: 100%;
background-color: #333333;     
    }
    .footer {
   
        padding: 30px 0px;
      }
  
      .footer_left .title, .footer_mid .title {
      margin: 0 0 18px;
      width: 100%;
      float: left !important;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
  }
  .footer_left p i {
      font-size: 14px;
      line-height: 26px;
      margin-right: 5px;
      color: #ec1c24;
  }
  
  .fa {
      display: inline-block;
      font: normal normal normal 14px / 1 FontAwesome;
  }
  
  .footer_left p ,.footer_left p a{
      color: #fff;
      font-size: 13px;
  }
  
  p {
      margin-bottom: 5px;
  }
  a {
      outline: 0;
      text-decoration: none;
  }
  
  .footer_left p span a {
      color: #ec1c24;
      padding: 0 3px;
      font-size: 16px;
  }
  
  
  
  .footer_mid .footer_mid_items  div{
      width: 50%;
  }
  .footer_mid .footer_mid_items  div a{
      color: #fff;
      font-size: 14px;
   text-decoration: none !important;
  }
  .footer_mid .footer_mid_items div a:hover{
      color: #ec1c24;
  
  }
  
  .footer_right img{
  width: 100%;
  
  }
  .footer_right p{
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  }
  
  @media screen and (max-width: 368px) {
      .footer_left p  {
    text-align: left !important;
  }
  
  }
  @media screen and (max-width: 767px) {
      .footer_mid {
          margin-top: 20px;
      }
  }
  
  @media screen and (max-width: 990px) {
     .footer {
         padding: 30px 15px !important;
     }
      .footer_mid {
          margin-bottom: 25px;
      }
      .footer_right img {
          width: 58%;
          padding-left: 12px;
          margin: 0 0 18px;
      }
  }
  
  
    /* <!-- footer style end --> */